{% extends 'layout.html.twig' %}

{% block title %}{{ 'Change Password'|trans }}{% endblock %}

{% block content %}
  {{ form_start(form) }}
    {{ form_row(form.password) }}
    {{ form_row(form.currentPassword) }}
    <button type="submit" class="btn btn-primary" id="submit-btn">{{ 'Change Password'|trans }}</button>
  {{ form_end(form) }}
{% endblock %}
